* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: rgb(210, 19, 51); */
    background-color: black;
}

.wrapper .mainBodyContainer {
    width: 660px;
    height: 100%;
    background-color: rgb(230, 207, 207);
    margin: auto;
    /* margin-left: 40px; */
}