.navbar {
    width: 100%;
    height: 20px;
    margin: auto;
    /* background-color: rgb(210, 173, 173); */
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    align-items: center;
}

.buttonSize {
    border-radius: 25px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: black;
    padding: 0px;
}

.buttonSize p {
    margin: auto;
    background-color: white;
    margin-top: 2px;
    width: 7px;
    height: .4px;
    border: none;
    
}

.buttonSize:hover {
    background-color: rgb(145, 139, 139);
    opacity: .02rem;
}

.buttonSize .firstLine {
    margin-top: 0px;
}

.buttonSize .secondLine {
    margin-top: 2px;
}

.navbar img {
    width: 20px;
    height: 20px;
}

.listButtonDiv {
    display: flex;
    justify-content: space-between;
}

.logoDiv {
    display: flex;
    /* background-color: blueviolet; */
    margin-left: 10px;
}

.logoDiv h1 {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.listButton {
    margin-top: 2px;
    margin-left: 2px;
    height: 10px;
    /* background-color: yellow; */
}

.ng {
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5px;
    line-height: 10px;
}
