.navbar {
    width: 100%;
    height: 56px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.logoDiv {
    display: flex;
    align-items: center;
    color: #fff;
}

.logoDiv img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.searchDiv {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 16px;
    border-radius: 70px;
}

.searchInput {
    height: 36px;
    padding: 0 8px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 25px 0px 0px 25px;
    background-color: #ccc;
}

.searchButton {
    height: 36px;
    color: white;
    border: none;
    cursor: pointer;

    padding: 0 12px;
}

.listButtonDiv {
    display: flex;
    align-items: center;
    border-radius: 70px;
}

.listButtonDiv ListButton {
    border-radius: 0px 40px;
}

.buttonSize {
    width: 15px;
    height: 15px;
    border: none;
    background-color: black;
    padding: 0px;
    border-radius: 40px;
}

.buttonSize p {
    margin: auto;
    background-color: white;
    margin-top: 2px;
    width: 7px;
    height: .4px;
    border: none;
    
}

.buttonSize:hover {
    background-color: rgb(211, 21, 21 /50%);
    opacity: 0.4;
}

.buttonSize .firstLine {
    margin-top: 0px;
}

.buttonSize .secondLine {
    margin-top: 2px;
}


.ng {
    color: grey;
    font-family: "Roboto", sans-serif;
    font-size: 5px;
    line-height: 10px;
    margin-left: 2px;
    /* background-color: red; */
}

@font-face {
    font-family:"Roboto", sans-serif;
    src: local("Roboto", sans-serif), url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-weight: italic;
}
